<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body" >
					<div class="container">
						<div style="padding-left: 0px">
							
							
							
							<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa502;"   >
								<a class="navbar-brand" href="#" style="color: black">Query for tender Consulting</a>
								<button type="submit" class="btn btn-primary" style="margin-left: 10%">Accept</button>
								<button type="submit" class="btn btn-primary">Reject</button>
							</nav>
							
							<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
								<a class="navbar-brand" href="#" style="color: white">Contractor's Profile</a>
							</nav>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" id="exampleInputPassword1" >
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Email id.</label>
										<input type="text" class="form-control" id="exampleInputPassword1" >
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Contractor's License No.</label>
										<input type="text" class="form-control" id="exampleInputPassword1" >
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Grade of Contractor</label>
										<input type="text" class="form-control" id="exampleInputPassword1" >
									</div>
								</div>
							</div>
							<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
								<a class="navbar-brand" href="#" style="color: white">RFP</a>
							</nav>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>