
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			.column1 {
		/*float: left;*/
		width: 60%;
		/*padding: 0;*/
		height: 600px
		}
		.column2 {
		/*float: left;*/
		width: 40%;
		/*padding: 0;*/
		height: 600px
		}
		</style>
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body" >
					<div class="container">
						<div style="padding-left: 0px">
							
							
							<div class ="row">
								<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa502; height: 100px; width: 70rem"   >
									<a class="navbar-brand" href="#" style="color: black">LOGO</a>
									
								</nav>
							</div>
							<div class ="row">
								<button type="submit" class="btn btn-primary">Rate Analysis</button>
								<button type="submit" class="btn btn-primary">Submit Tender</button>
								<!-- <button type="submit" class="btn btn-primary" style="margin-left: 600px;">Add</button> -->
								<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-left: 600px;">
  Add
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
							<!-- <button type="submit" class="btn btn-primary" style="margin-left: 100px;">Back</button> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:yellow; ">Back
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body" >
					<div class="container">
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Tender</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Tender Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Value of the Contract</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						
						<!-- <button type="submit" class="btn btn-primary" style="align-content: center;">Submit</button> -->
					</div>
				</div>
      </div>
      <div class="modal-footer">
      	<button type="submit" class="btn btn-primary" style="align-content: center;">Upload Tender Document </button><br><br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="align-content: center;">Submit</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
								
							</div>
							<div class="card-body" style="background-color: #dfe4ea; height: 350px">
								<div class="row">
									<table class ="table table-bordered" style="background-color: white">
										<tr style="background-color: black;color: white">
											<th>sl no.</th>
											<th>Tender no.</th>
											<th>Tender Name</th>
											<th>Value of Contract</th>
											<th>Status</th>
											
											<th>icons</th>
										</tr>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>sand</td>
											<td>23/3/2019</td>
											<td>2</td>
										
											<td><button style="background-color: #d63031">Pending</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>sand</td>
											<td>23/3/2019</td>
											<td>2</td>
										
											<td><button style="background-color: #f1c40f">Accepted</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>sand</td>
											<td>23/3/2019</td>
											<td>2</td>
										
											<td><button style="background-color: #2ecc71">Approved</button></td>
										</tr>
									</table>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	</html>