<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			.column1 {
		/*float: left;*/
		width: 60%;
		/*padding: 0;*/
		height: 600px
		}
		.column2 {
		/*float: left;*/
		width: 40%;
		/*padding: 0;*/
		height: 600px
		}
		
		</style>
	</head>
	<body style="text-align: center;">
		<div class="container" style="padding-right: 60px; padding-left: 60px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; border-radius: 20px;" style="width: 18rem;">
				<div class="card-body">
					<div class="container">
						<div class ="row">
							<div class="column1" style="background-color:#487eb0; border-radius:20px;  border-bottom-right-radius: 200px; border-top-right-radius: 200px;" align="text-align:center;">
								<h1 style="text-align: center;">LOGO</h1>
								<h4>Welcome</h4>
								<h3>Company Name</h3>
							</div>
							<div class="column2" style="padding-left: 10px; padding-top: 20px; padding-right: 10px;">
								<h3>About Us &nbsp &nbsp &nbsp Contact</h3>
								<div>
									<img src="Screenshot(1).png" class="rounded-circle" alt="Cinque Terre">
									<form>
										<div class="form-group">
											
											<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
											
										</div>
										<div class="form-group">
											
											<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
										</div>
										
										<button type="submit" class="btn btn-primary">Log in</button>
										<button type="submit" class="btn btn-primary">Sign up</button><br>
										<label><a href="www.google.com" name="search your password bitch">Forget your passord</a></label>
									</form>
								</div>
								
							</div>
						</div>
					</div>
					
					
				</body>
			</html>