
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			.column1 {
		/*float: left;*/
		width: 60%;
		/*padding: 0;*/
		height: 600px
		}
		.column2 {
		/*float: left;*/
		width: 40%;
		/*padding: 0;*/
		height: 600px
		}
		</style>
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body" >
					<div class="container">
						<div style="padding-left: 0px">
							
							
							<div class ="row">
								<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa502; height: 100px; width: 70rem"   >
									<a class="navbar-brand" href="#" style="color: black">LOGO</a>
									<a class="navbar-brand" href="#" style="color: black">Components Library</a>
									<a class="navbar-brand" href="#" style="color: black">Notification</a>
									<a class="navbar-brand" href="#" style="color: black">Manage</a>
									
								</nav>
							</div>
							<div class ="row">
								<button type="submit" class="btn btn-primary">View Pending Tenders</button>
								<button type="submit" class="btn btn-primary">Accepted Tenders</button>
								
								
							</div>
							<div class="card-body" style="background-color: #dfe4ea; height: 350px">
								<div class="row">
									<table class ="table table-bordered" style="background-color: black">
										<tr style="background-color: black;color: white">
											<th>sl no.</th>
											<th>RSP no.</th>
											<th>Name of Work</th>
											<th>date</th>
											<th>Value</th>
											<th>Name of Contractor</th>
											<th>icons</th>
										</tr>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>sand</td>
											<td>23/3/2019</td>
											<td>2</td>
											<td>2000</td>
											<td><button type="button" class="btn btn-success" ><a class="button" href="/screen12/"><i class="fa fa-file" aria-hidden="true"></i></a></button></td>
										</tr>
									</table>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>