<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			
		</style>
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body">
					<!-- <div class="container"> -->
					<div style="padding-left: 0px">
						<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #353b48;"   >
							<label style="color: white">Item information</label>
						</nav>
						
						
						
						
					</div>
					<div class="row">
						<div class="card-body" style="background-color: #dfe4ea; height: 520px">
							<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
								<label style="color: white">Calculation Methodology</label>
							</nav>
							<br>
							<div class="container">
								<div class="row">
									<table class ="table table-bordered" style="background-color: white;margin-left: 1 rem">
										<tr style="background-color: #192a56;color: white">
											<th>Components</th>
											<th>As per rate analysis</th>
											<th>Components</th>
											<th>As per rate analysis</th>
											
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Material
											</td>
											<td></td>
											<td>B/f rs</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Labour
											</td>
											<td></td>
											<td>Centering and Scafolding</td>
											<td></td>
											
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Transport Loading and Unloading 
											</td>
											<td></td>
											<td>Cost</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												HOM of machineries
											</td>
											<td></td>
											<td>O.C</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Water
											</td>
											<td></td>
											<td>C.P</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Sundries
												<td></td>
											<td>Rate</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												C/o Rs
											</td>
											<td></td>
											<td></td>
										</tr>
									
										
									</table>
								</div>
							</div>
							
							
						</div>
						
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</body>
</html>