<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			.column1 {
		/*float: left;*/
		width: 60%;
		/*padding: 0;*/
		height: 600px
		}
		.column2 {
		/*float: left;*/
		width: 40%;
		/*padding: 0;*/
		height: 600px
		}
		.td{
			color: white;
		}
		modal-dialog {
		width: 360px;
		/*background-color: blue;*/
		/*height:600px ! important;*/
		}
		.modal-content {
		/* 80% of window height */
		/*height: 60%;*/
		width:1000px;
		/*background-color: blue;*/
		}
		</style>
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body">
					<div class="container">
						<div style="padding-left: 0px">
							
							
							<div class ="row">
								<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa502; height: 100px; width: 70rem"   >
									<a class="navbar-brand" href="#" style="color: black">LOGO</a>
									
								</nav>
							</div>
							<div class ="row">
								<button type="submit" class="btn btn-primary">Rate Analysis</button>
								<button type="submit" class="btn btn-primary">Submit Tender</button>
								<button type="submit" class="btn btn-primary" style="margin-left: 600px;">Back</button>
								
							</div>
							<div class="row">
								<div style="border-top: 1000px; border-color: black">
									<button type="submit" class="btn btn-primary" style="align-self: left">Basic Information</button>
									<button type="submit" class="btn btn-primary">Rate Summary</button>
								</div>
								
								
							</div>
							<div class="row">
								<div class="card-body" style="background-color: #dfe4ea; height: 350px">
									<!-- <div class="form-group">
																				
																				<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Total(NR)">
																				
									</div> -->
									
									<input type="text" >
									<button type="submit" class="btn btn-primary" style="align-self: left">Submit</button>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
									+Items
									</button>
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="container" style="padding-right: 0px; padding-left: 0px; " >
														
														<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
															<div class="card-body">
																<div class="container">
																	<div style="padding-left: 0px">
																		
																		
																		
																		
																		<div class ="row">
																			<div class="form-group">
																				
																				
																				<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by item name">
																				
																			</div>
																			<div style="padding-left: 23%"><label>Add Items</label></div>
																			
																			<div class  ="form-group" style="padding-left:30%">
																				
																				<input type="number" class="form-control" id="exampleInputPassword1" placeholder="Search by item code">
																			</div>
																		</div>
																		<div class="row">
																			<div style="border-top: 1000px; border-color: black">
																				
																				
																			</div>
																			
																			
																		</div>
																		<div class="row">
																			<div class="card-body" style="background-color: #dfe4ea; height: 350px">
																				
																				
																				<div class="row">
																					<table class ="table table-bordered" style="background-color: white">
																						<tr style="background-color: black;color: white">
																							<th>sl no.</th>
																							<th>Item code</th>
																							<th>Item Description</th>
																							<th>UOM</th>
																							<th>Rate</th>
																							
																							
																						</tr>
																						<tr >
																							<td style="color: blue" >1</td>
																							<td>2</td>
																							<td>3</td>
																							<td>2</td>
																							<td>2000</td>
																							
																							
																						</tr>
																						<tr>
																							<td>1</td>
																							<td ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
																								2
																							</button></td>
																							<td>3</td>
																							<td>2</td>
																							<td>2000</td>
																							
																							
																							
																						</tr>
																					</table>
																				</div>
																				
																				
																				
																				
																			</div>
																			<!-- <button type="submit" class="btn btn-primary" style="margin-left: 90%;">Done</button> -->
																			
																			
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
													<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
												</div>
											</div>
										</div>
									</div>
									<!-- Button trigger modal -->
									<!-- Modal -->
									<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<div class="container" style="padding-right: 0px; padding-left: 0px; " >
														
														<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
															<div class="card-body">
																<div class="container">
																	<div style="padding-left: 0px">
																		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #353b48; width: 103.6%"   >
																			<label style="color: white">Item information</label>
																		</nav>
																		
																		
																		
																		
																		
																		
																		
																		
																	</div>
																	<div class="row">
																		<div class="card-body" style="background-color: #dfe4ea; height: 350px">
																			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
																				<label style="color: white">Classification</label>
																			</nav>
																			<div class="row">
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Level 1</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Level 2</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Level 2</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<!-- <div class="row"> -->
																			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
																				<label style="color: white">General</label>
																			</nav>
																			<div class="row">
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Name</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Code</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Short Description</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																				<div class="col-md-3">
																					<div class="form-group">
																						<label>Item Status</label>
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			
																			
																			
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="card-body" style="background-color: #dfe4ea; height: 520px">
														<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #130f40;"   >
															<label style="color: white">Calculation Methodology</label>
														</nav>
														<br>
														<div class="container">
															<div class="row">
																<div class="col-md-4">
																	<div class="card" style="width: 18rem;">
																		<div class="card-body">
																			<h5 class="card-title">A.Material Cost</h5>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Name</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Quantity</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>UOM</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Rate</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Total</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	
																	<label>Water Cost @ 1%</label>
																	<label style="padding-left: 5%">Sundries Cost @ 1%</label>
																	
																</div>
																<div class="col-md-4">
																	<div class="card" style="width: 18rem;">
																		<div class="card-body">
																			<h5 class="card-title">B.Labour Cost</h5>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Name</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Quantity</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>UoM</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Rate</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Total</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			
																		</div>
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="card" style="width: 18rem;">
																		<div class="card-body">
																			<h5 class="card-title">Card title</h5>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Name</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Quantity</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>UoM</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Rate</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			<div class="row">
																				<div class="col-md-4">
																					<div class="form-group">
																						<label>Total</label>
																					</div>
																				</div>
																				<div class="col-md-6">
																					<div class="form-group">
																						<input type="text" class="form-control" id="exampleInputPassword1" >
																					</div>
																				</div>
																			</div>
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
														
														
														
														
														<button type="submit" class="btn btn-light" >Abstract A+B+C=Rs</button>
														
													</div>
													hello
															<div class="container">
								<div class="row">
									<table class ="table table-bordered" style="background-color: white;margin-left: 1 rem">
										<tr style="background-color: #192a56;color: white">
											<th>Components</th>
											<th>As per rate analysis</th>
											<th>Components</th>
											<th>As per rate analysis</th>
											
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Material
											</td>
											<td></td>
											<td>B/f rs</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Labour
											</td>
											<td></td>
											<td>Centering and Scafolding</td>
											<td></td>
											
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Transport Loading and Unloading 
											</td>
											<td></td>
											<td>Cost</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												HOM of machineries
											</td>
											<td></td>
											<td>O.C</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Water
											</td>
											<td></td>
											<td>C.P</td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												Sundries
												<td></td>
											<td>Rate</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td style="background-color: white;color: black">
												C/o Rs
											</td>
											<td></td>
											<td></td>
										</tr>
									
										
									</table>
								</div>
							</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row">
										<table class ="table table-bordered" style="background-color: black">
											<tr style="background-color: black;color: white">
												<th>sl no.</th>
												<th>Item code</th>
												<th>Item Particular</th>
												<th>UOM</th>
												<th>Rate</th>
												<th>Quantity</th>
												<th>Amount</th>
												<th>Total</th>
											</tr>
											<tr>
												<td>1</td>
												<td>2</td>
												<td>3</td>
												<td>2</td>
												<td>2000</td>
												<td>4000</td>
												<td>5000</td>
											</tr>
										</table>
									</div>
									<button type="submit" class="btn btn-primary">Save</button>
									<button type="submit" class="btn btn-primary">View</button>
									
									
									
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>