<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 400px;width: 10% background-color: white; text-align:center;">
				<div class="card-body" >
					<div class="container">
						<div class="row">
							<button type="submit" class="btn btn-primary" style="margin-left: 600px;">Back</button>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Tender</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Tender Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Value of the Contract</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputPassword1" >
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" style="align-content: center;">Upload Tender Document </button><br><br>
						<button type="submit" class="btn btn-primary" style="align-content: center;">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>