<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="  style.css"> -->
		
		<style>
			body{
				background-color: #192a56;
				
			}
			.column1 {
		/*float: left;*/
		width: 60%;
		/*padding: 0;*/
		height: 600px
		}
		.column2 {
		/*float: left;*/
		width: 40%;
		/*padding: 0;*/
		height: 600px
		}
		</style>
	</head>
	
	<body style="text-align: center;">
		<div class="container" style="padding-right: 0px; padding-left: 0px; " >
			
			<div  style="margin: 40px; box-shadow: 0 1px 7px 0.05px #ac8fe3; height: 600px; background-color: white; text-align:center; " style="width: 18rem;">
				<div class="card-body">
					<div class="container">
						<div style="padding-left: 0px">
							
							
							<div class ="row">
								<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa502; height: 100px; width: 70rem"   >
									<a class="navbar-brand" href="#" style="color: black">LOGO</a>
									
								</nav>
							</div>
							<div class ="row">
								<button type="submit" class="btn btn-primary">Rate Analysis</button>
								<button type="submit" class="btn btn-primary">Submit Tender</button>
								<button type="submit" class="btn btn-primary" style="margin-left: 600px;">Back</button>
								
							</div>
							<div class="row">
								<div style="border-top: 1000px; border-color: black">
									<button type="submit" class="btn btn-primary" style="align-self: left">Basic Information</button>
									<button type="submit" class="btn btn-primary">Rate Summary</button>
								</div>
								
								
							</div>
							<div class="row">
								<div class="card-body" style="background-color: #dfe4ea; height: 350px">
									<form>
										<div class="row">
											<div class="col-md-1">
												<div class="form-group">
													
													<label>Title</label>
													
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													
													<label>Description</label>
													
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													
													
													<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-1">
												<div class="form-group">
													
													<label>Version</label>
													
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Version">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													
													<label>Date</label>
													
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													
													
													<input type="date" class="form-control" id="exampleInputPassword1" placeholder="Date">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-1">
												<div class="form-group">
													
													<label>Doc No</label>
													
												</div>
												
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Doc No">
												</div>
											</div>
											
										</div>
										
										
										
										
										
										
										
									</form>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>